<ion-header>
  <ion-toolbar>
    <ion-title>
      Karl's tab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ACIT 2520 - Grouplab 14</ion-card-subtitle>
      <ion-card-title>Karl Schultze</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      "A full moon hangs high in the chilly sky,
      All say it's the same everywhere, round and bright.
      But how can one be sure thousands of li away
      Wind and perhaps rain may not be marring the night?"
      -   Li Qiao,  The Mid-Autumn Moon
    </ion-card-content>
    <ion-item href="https://ca.linkedin.com/in/karl-schultze-8428bb123">
      <ion-icon name="logo-linkedin"></ion-icon>
      <ion-label>Check me out!</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Book for an interview!</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>DDDD MMM D, YYYY</ion-label>
      <ion-datetime displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
    </ion-item>

  </ion-card>
</ion-content>
