<ion-header>
  <ion-toolbar>
    <ion-title>
      Patrick's tab!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <h2>Follow me on social media!</h2><hr>
  <p><a href="http://www.facebook.com"><img src="https://dummyimage.com/64x64/367cff/ffffff.jpg&text=facebook"></a><br>
  <a href="http://www.instagram.com"><img src="https://dummyimage.com/64x64/e04700/000000.jpg&text=instagram"></a><br>
  <a href="http://www.linkedin.com"><img src="https://dummyimage.com/64x64/0900b0/ffffff.jpg&text=linkedin"></a></p>

</ion-content>


